node_modules
.expo
.next
dist
build
bin
obj
.gradle
.idea
.kotlin
*.apk
*.aab
.env
.env.*
.DS_Store
mobile/node_modules
mobile/.expo
mobile/dist
mobile/android
mobile/ios
android/build
app/build
temp-build
clean-mom-app
